body {
    display: flex;
    background-color: rgb(123, 178, 119);
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: small;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

footer {
    color: white;
    text-align: center;
    font-size: small;
}

.konten {
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: medium;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
}

.nav-link:hover {
    font-weight: medium;
    color: white;
    background-color: rgba(255, 255, 255, 0.100);
}

.log {
    color: white;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
}

.log:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}

.vl {
    color: white;
}

.vl:hover {
    background-color: transparent;
}